#root {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
}

ul {
    margin-top: 50px;
    padding: 0;
    min-width: 80%;
}

li {
    display: flex;
    flex-direction: row;
    margin: 20px;
    list-style-type: none;
} 

li > .form-control {
    min-width: 400px;
}